<div class="card bg-light mb-3" ng-switch="$ctrl.editMode">
	<div class="card bg-light mb-3">
	  <div class="card-header">
		    <div class="form-group">
			    <input class="col-xs-10 card-title form-control" placeholder="Email" type="text" ng-model="$ctrl.newValuecomment.value.email">
			</div>
		</div>
	  <div class="card-body">
	    <div class="form-group">
		    <input class="card-title form-control" placeholder="Title" type="text" ng-model="$ctrl.newValuecomment.value.name">
		</div>
	    
		  <div class="form-group">
		    <textarea class="form-control" placeholder="Add your message" rows="3" type="text" ng-model="$ctrl.newValuecomment.value.body"></textarea>
		  </div>
	  </div>
	  <div class="card-footer">
		<button ng-click="$ctrl.onSave()" class="btn btn-success">Save</button>
		<button ng-if="$ctrl.editMode" ng-click="$ctrl.reset()" class="btn btn-default">Cancel</button>
	  </div>
    </div>
</div>