<div class="col-xs-12">
	
	<div class="card text-white bg-secondary mb-3" ng-click="$ctrl.clickPost($ctrl.post)" style="cursor: pointer">
	  <div class="card-header">{{$ctrl.post.id}}</div>
	  <div class="card-body">
	    <h5 class="card-title">{{$ctrl.post.title}}</h5>
	  </div>
	 <!--  Location: <editable-field field-value="{{$ctrl.post.title}}" field-type="text" on-update="$ctrl.update('title', value)"></editable-field><br>
	  <button class="btn btn-primary" ng-click="$ctrl.onDelete({post: $ctrl.post})">Delete</button> -->
	</div>
</div>