<div class="col-xs-12">
	
	<div class="card bg-light mb-3">
	  <div class="card-header">{{$ctrl.comment.email}}</div>
	  <div class="card-body">
	    <h5 class="card-title">{{$ctrl.comment.name}}</h5>
	    <p class="card-text">{{$ctrl.comment.body}}</p>
	  </div>
	 <!--  Location: <editable-field field-value="{{$ctrl.post.title}}" field-type="text" on-update="$ctrl.update('title', value)"></editable-field><br>
	  <button class="btn btn-primary" ng-click="$ctrl.onDelete({post: $ctrl.post})">Delete</button> -->
	</div>
</div>